@import url(./mgl.flex.css);
@import url(./mgl.font.css);
@import url(./font-style/pretendard.css);
:root {
    --mainColor: #344b98;
    --mainColorHover: #344b98f0;
    --mainColorOpacity30: #344b9830;
    --mainColorOpacity50: #f3f4f8;
    --mainColorOpacity100: #e6e8f2;
    --mainColorOpacity200: #ccd2e6;
    --mainColorOpacity300: #b3bbd9;
    --mainColorOpacity400: #9aa5cc;
    --mainColorOpacity500: #808fbf;
    --mainColorOpacity600: #6677b2;
    --mainColorOpacity700: #596cac;
    --mainColorSelected1: #344b9820;
    --defaultBackground: #f9fbfc;
    --defaultBoxShadow: 1px 1px 10px 0 rgb(72 75 108 / 8%);
    --defaultBlueColor: #418cff;
    --defaultBlueColorOpacity50: #f3f8ff;
    --defaultBlueColorOpacity100: #e9f0ff;
    --defaultBlueColorOpacity200: #d1e2ff;
    --defaultBlueColorOpacity300: #bbd4ff;
    --defaultBlueColorOpacity400: #a2c5ff;
    --defaultBlueColorOpacity500: #8bb7ff;
    --defaultBlueColorOpacity600: #74a9ff;
    --defaultBlueColorOpacity700: #5a99ff;
    --defaultSkyBlueColor: #5c8cd5;
    --defaultRedColor: #e56767;
    --defaultRedColorOpacity100: #fdecec;
    --defaultRedColorOpacity200: #fadad9;
    --defaultRedColorOpacity300: #f6c7c6;
    --defaultRedColorOpacity400: #f3b3b4;
    --defaultRedColorOpacity500: #f0a1a0;
    --defaultRedColorOpacity600: #ed8e8d;
    --defaultRedColorOpacity700: #e87a7a;
    --defaultRedColorOpacity30: #e5676730;
    --defaultYellowColor: #eed202;
    --defaultYellowColorOpacity30: #eed20230;
    --defaultGreenColor: #5fcf80;
    --defaultGreenColorOpacity40: #5fcf8040;
    --defaultGrayColor: #f1f3f9;
    --defaultPurpleColor: #8250df;
    --defaultPurpleColorOpacity100: #eae6f9;
    --defaultPurpleColorOpacity200: #dcd1f6;
    --defaultPurpleColorOpacity300: #ccbbf2;
    --defaultPurpleColorOpacity400: #bfa5ef;
    --defaultPurpleColorOpacity500: #ae91eb;
    --defaultPurpleColorOpacity600: #a07be7;
    --defaultPurpleColorOpacity700: #9065e3;
    --defaultModalCloseColor: #959eae;
    --contentHeadBackground: #eef2f9;
    --publicWorkspaceColor: #5fcf80;
    --plusWorkspaceColor: #8250df;
    --grayButtonColor: #efefef;
    --grayButtonHoverColor: #dbdbdb;
}

html,
body {
    padding: 0;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    /* font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕",
        helvetica, "Apple SD Gothic Neo", sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body * {
    /* Pretendard 실패 시 뒤에 선언된 폰트들로 렌더링 */
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕",
        helvetica, "Apple SD Gothic Neo", sans-serif;
}

body::-webkit-scrollbar {
    width: 7px;
}
body::-webkit-scrollbar-thumb {
    background-color: #00000025;
    border-radius: 10px;
}
body::-webkit-scrollbar-track {
    background-color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}